.crud-add, .crud-edit {
    display: none;
}

.crud-line:hover {
    background-color: #f0fde6;
}

.crud-actions>a>img:hover {
    background-color: #beecfc;
}

/*.crud-table {
    width: 100%;
}*/

.crud-table td {
    text-align: center;
}

.newaction {
    padding-left: 20px;
}